<li class="projects-tile">
  <h2><%= project.title %></h2>
  <dl>
    <dt><%= project.date.toLocaleString('default', {year: 'numeric', month: 'long'}); %></dt>
  </dl>
  <p><%= project.description %></p>
  <div class="projects-tile--preview">
    <% if(project.image){ %>
      <img src="<%= project.image %>" alt="project image" />
    <% }else if(project.iframe){ %>
      <iframe src="<%= project.iframe %>"></iframe>
    <% } %>
  </div>
  <div class="projects-tile--resources">
    <h3>Resources</h3>
    <ul>
      <% for(const [key, value] of Object.entries(project.resources)){ %>
	<li>
	  <p><%= key %> - <a href="<%= value %>"><%= value %></a></p>
	</li>
      <% } %>
    </ul>
  </div>
</li>
